  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <!-- <div class="pull-right">
          <%= link_to "Let's Do This", root_path, class: "btn btn-success" %>
        </div> -->
        <h1>Let's Get Started -Update Bio</h1>
        <br />
          <%= link_to "Freelancer Looking to Connect with Brands", user_information_path(@user), class: "btn btn-success" %>
          <%= link_to "Brand Looking to Hire Freelancers", root_path, class: "btn btn-primary" %>
      </div>
      <div class="well">
        <div class="pull-right">
          <%= link_to "Let's Do This", root_path, class: "btn btn-primary" %>
        </div>
        <h1>Let's browse some open Jobs</h1>
      </div>


    </div>
  </div>
